@using PSC.ReportingRepository
@model IList<PSC.ReportingRepository.DetailTransactionDaily>
@{
    int i = 1;
    decimal total = 0;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/PrintDocument.js")"></script>
<script src="@Url.Content("~/Scripts/report/report.js")" type="text/javascript"></script>
<div class='container'>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <table class="table table-striped" id="tblReport">
             <thead><tr><th>#</th><th>Tanggal</th><th>Jumlah</th><th></th></tr></thead>
             <tbody>
                
                @foreach (DetailTransactionDaily d in @Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@d.Tanggal.ToString("dd MMMM yyyy")</td>
                        <td>Rp. @d.Amount.ToString("N")</td>
                    </tr>
                    i++;
                    total += d.Amount;
                }
                <tr>
                    <td></td>
                    <td><b>Total Akhir</b></td>
                    <td><b>Rp. @total.ToString("N")</b></td>
                </tr>
                <tr>
                    <td colspan='6'>
                        <div class='row' id='attn' style='display:none;'>
                        <br /><br /><br /><br />
                        <div style='width:300px;float:left;'>[..............................]</div>
                        <div style='width:300px;float:right;text-align:right;'>[..............................]</div>
                        </div>
                    </td>
                </tr>
             </tbody>
             
          </table>
        </div>
        <div class='span10' id='attn' style='display:none;'>
            <br /><br /><br /><br />
            <div class='span5 center'>[.....................]</div>
            <div class='span5 center'>[.....................]</div>
        </div>
        <div class="span2">
          <button class='btn btn-primary' onclick="PrintLaporan()">Cetak</button>
        </div>
      </div>
    </div>
</div>