@using PSC.ReportingRepository
@model IList<PSC.ReportingRepository.Maskapai>
<link rel="stylesheet" href="@Url.Content("~/Content/passenger.css")"/>
<script type="text/javascript" src="@Url.Content("~/Scripts/passenger/Passenger.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/passenger/SelectPassenger.js")"></script>
<div class='container'>
    <div class='row'>
        <div class='span6'>
            <div class='row'>
                <div class='span6 TitleHeader'>Pilih Maskapai</div>
                @foreach (Maskapai m in Model)
                {
                    <div class='span2'>
                        <input type='checkbox' class='maskapai' value='@m.Id'/>
                        @m.Name
                    </div>
                }
            </div>
        </div>
        <div class='span2'>
            <div class='row'>
                <div class='span2 TitleHeader'>Pilih Gate</div>
                <div class='span2'>
                    <select name='gate' id='gate' class='span2'>
                    <option value='0'>--Pilih Gate--</option>
                    @foreach (Gate g in ViewBag.Gate)
                    {
                        <option value='@g.Id'>@g.Name</option>
                    }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='span8 center'>
            <button class='btn btn-success btn-large' id='btnSelectPassenger'>Sumbit</button>
        </div>
    </div>
    <div class='row' id='error'>
    </div>
</div>